@import './variables';

:root {
  font-size: $base-font-size;
}

h1 {
  font-size: calc(#{$base-font-size} * #{$ratio-4});
}

h2 {
  font-size: calc(#{$base-font-size} * #{$ratio-3});
}

h3 {
  font-size: calc(#{$base-font-size} * #{$ratio-2});
}

h4 {
  font-size: calc(#{$base-font-size} * #{$ratio});
}
