@import '../style/variables';

$answer-bg-color: $gray-200;
$right-answer-color: $green;
$wrong-answer-color: $red;

.answer {
  display: flex;
  flex-basis: 50%;
  overflow: hidden;

  background-color: $answer-bg-color;

  .index {
    font-weight: 800;
    font-family: monospace;
    border-right-width: 1px;
    border-right-color: rgba(black, 0.1);
    border-right-style: solid;
    background-color: darken($answer-bg-color, 5%);
  }

  &.right {
    background-color: lighten($right-answer-color, 12%);
    color: white;

    .index {
      background-color: $right-answer-color;
    }
  }

  &.wrong {
    background-color: $wrong-answer-color;
    color: white;

    .index {
      background-color: darken($wrong-answer-color, 5%);

    }
  }

  .index,
  .answer-value {
    padding: $spacing-unit-2;
  }
}

.answer:hover, .answer:hover > div, .answer:hover > .index {
  background-color: $gray-700;
  color: white;
}