@use '../../style//variables.scss' as vars;

.editor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > div {
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
    padding: 0 vars.$spacing-unit-2;
  }
}
