@import './style/resets';
@import './style/typography';
@import './style/components-import';

body {
  background-color: $body-bg;
  color: $body-color;

  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
